<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Gideon+Roman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Gideon+Roman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway+Dots&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <title>Create account</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <h2>jab we talk </h2>
        <ul>
            
            <li>already have account? <a href="/login">Log-in</a></li>
            
        </ul>
    </header>

    <main>
        <section id="section1">
            <form action="/user/createAccount" method="post">

                <h1>Create Account</h1>
                <label for="name">Name</label>
                <input type="text" name="name" required maxlength=20 minlength="3"><br><br>
            
                <label for="email">Email</label>
                <input type="email" name="email" required ><br><br>
            
                <label for="password">Password</label>
                <input type="password" name="password" required ><br><br>
                
                <button type="submit">Create Account</button>

                <% if (err) { %>
                 <p style="color:rgb(225, 0, 0)"><%= err %>  <a href="/login">Log-in</a></p>
                <% } %>

                <p >By proceeding, I agree to <a href="">Jab-We-Talk's Privacy Statement</a> and <a href="">Terms of Service</a>.</p>
            
                <p>already have account? <a href="/login">Log-in</a></p>
            
            </form>
        </section>
        <section id="section2">
            <img src="../photos/16696700_5791170.svg" alt="">
        </section>
    </main>


</body>
</html>