<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <h2>jab we talk </h2>
        <ul>
            
            <li>already have account? <a href="/login">Log-in</a></li>
            
        </ul>
    </header>

    <main>
        <section id="section1">
            <form action="/user/createAccount" method="post">

                <h1>Create Account</h1>
                <label for="name">Name</label>
                <input type="text" name="name" required maxlength=20 minlength="3"><br><br>
            
                <label for="email">Email</label>
                <input type="email" name="email" required ><br><br>
            
                <label for="password">Password</label>
                <input type="password" name="password" required ><br><br>
                
                <button type="submit">Create Account</button>

                <% if (err) { %>
                 <p style="color:rgb(225, 0, 0)"><%= err %>  <a href="/login">Log-in</a></p>
                <% } %>

                <p >By proceeding, I agree to <a href="">Jab-We-Talk's Privacy Statement</a> and <a href="">Terms of Service</a>.</p>
            
                <p>already have account? <a href="/login">Log-in</a></p>
            
            </form>
        </section>
        <section id="section2">
            <div id="section2Block">
                <img src="photos/indexPage.png" alt="img">
                <div class="section2Block2">
                    <h1>Meet Someone New, Anytime, Anywhere!</h1>
                    <p > the ultimate platform for real-time conversations. Whether you want to meet random strangers or join vibrant chatrooms, we’ve got you covered. Say goodbye to boredom!</p>
                </div>
                </div>
                
        </section>
    </main>


</body>
</html>