<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="../css/login.css">

</head>
<body>
    <header>
        <h2>jab we talk </h2>
        <ul>
            
            <li>dont have an account? <a href="/createAccount">Create Account</a></li>
            
        </ul>
    </header>

    <main>
        <section id="section1">
            <form action="/user/login" method="post">

                <h1>Log-In</h1>
                
                <label for="email">Email</label>
                <input type="email" name="email" required ><br><br>
            
                <label for="password">Password</label>
                <input type="password" name="password" required ><br><br>
                
                <button type="submit">Log-In</button>

                <% if (err) { %>
                 <p style="color:rgb(225, 0, 0)"><%= err %>  <a href="/createAccount">Log-in</a></p>
                <% } %>

                <p >By proceeding, I agree to <a href="">Jab-We-Talk's Privacy Statement</a> and <a href="">Terms of Service</a>.</p>
            
                <p>already have account? <a href="/login">Log-in</a></p>
            
            </form>
        </section>
        <section id="section2">
            <img src="../photos/16696700_5791170.svg" alt="">
        </section>
    </main>


</body>
</html>