<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <title>main</title>
    <style>
        body{
            padding: 0;
            margin: 0;
         font-family: WF Visual Sans Text,Arial,sans-serif;
        }
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 0px 5px black;
            margin-bottom: 20px;
            padding: 0 10px 0 10px;
            font-family: 'Times New Roman', Times, serif;
        }
        ul{
            display: flex;
            gap: 4vw;
        }
        li{
            list-style: none;
            padding: 6px;
            border-radius: 6px;
            border: 1px solid black;
        }
        .intro{
            
            border-radius: 10px;
            padding: 30px;
            padding: 0% 33% 0% 6%;           
            box-sizing: border-box;
            background-image: url('../photos/message.png');
            background-size: 300px;
            background-repeat: no-repeat;
            background-position: 82%;
            border: 2px solid;
        }
        .intro h1{
            font-size: 70px;
        }
        .intro p{
            font-size: 22px;
        }
        main{
            padding: 10px;
        }
        .popularChatRooms{
            height: 40vh;
            overflow-y: scroll;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border: 2px solid black;
            border-radius: 10px;
        }
        .defaultBlock{
            border: 2px solid black;
            border-radius: 10px;
            margin: 5px ;
            display: grid;
            grid-template-columns: 3fr auto;
            width: 400px;
            height: 50px;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }
        .defaultBlock:hover{
            background-color: #1d73f578;
        }
        .chatRooms{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
        .randomChat{
            
            border: 2px solid black;
            border-radius: 10px;
            padding: 20px;
            margin-top: 50px;
        }
        footer{
            height: 300px;
            background-color: black;
            color: rgb(165, 165, 165);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        header h2{
            color: #1d73f5;
        }
        .roomTitle{
            font-weight: 600;
        }
        .description{
            font-size: 14px;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .wrapperForEyeAndPeopelInRoom{
            display: flex;
        }
        .createRoom{
            border: 2px solid;
            border-radius: 5px;
            margin-top: 30px;
            padding: 50px;
        }
        .createRoom h2{
            margin: 0;
        }
        .createRoom button , .randomChat a button{
            height: 40px;
            width: 230px;
            border-radius: 20px;
            cursor: pointer;
        }
        .createRoom button:hover{
           background-color: rgb(148, 209, 252);
        }
        .randomChat a button:hover{
           background-color: rgb(148, 209, 252);
        }
        .searchRoom{
            padding: 20px;
            border: 2px solid black;
            border-radius: 10px;
            width: -webkit-fill-available;
            margin-top: 30px;
        }
        .searchRoom input ,  .searchRoom button {
            height: 30px;
            width: 250px;
            border-radius: 10px;
            border: 2px solid black;
        }
        .searchRoom button{
            width: 80px;
            cursor: pointer;
        }
        #aboutAnchor{
            border: none;
        }
        @media (max-width:750px) {
           .intro{
            height: auto;
            padding: 30px;
            background-image: none;

           }
           .defaultBlock{
            width: 80vw;
           }
           .intro h1{
            font-size: 50px;
        }
        }
        
    </style>
</head>
<body>
    <header>
        <h2>jab we talk </h2>
        <ul>
            <li id="aboutAnchor"><a href="/about">About</a></li>   
            <li><a href="/login">Log-in</a></li>
            <li><a href="/CreateAccount">Sign-up</a></li>
        </ul>
    </header>
    <main>
        <div class="intro">
            <h1>Meet Someone New, Anytime, Anywhere!</h1>
            <p>  Welcome to jab we talk -<br> the ultimate platform for real-time conversations. Whether you want to meet random strangers or join vibrant chatrooms, we’ve got you covered. Say goodbye to boredom!<p>
        </div>
        <div class="chatRooms">

            <div class="searchRoom">
                <form action="/room/findRoom" method="post">
                    Search Room : <input type="text" name="roomName" required placeholder="room name or room tag">
                    <button type="submit">search</button>
                </form>
            </div>
            <h2>Popular chat rooms</h2>
            
            <div class="popularChatRooms"> 
                <% data.forEach(room => { %>
                    <a href="/room?room=<%=room.roomName%>">
                    <div class="defaultBlock">
                        <div class="roomTitle"><%=room.roomName%></div>
                        <div class="wrapperForEyeAndPeopelInRoom"><img src="/photos/eye.png" alt="eye img" height="17px"><b class="peopleOnline" id="<%=room.roomName%>"></b></div>
                        <div class="description"><%=  room.roomDescription%></div>
                    </div></a>
                <% }) %>
                <a href="/room?room='cricket'">
               
               
            </div>
        </div>

        <div class="createRoom">
            <h2>Create Your Own Chat Room</h2>
            <h4>Start meaningful conversations by creating a space for your interests. Give your room a name, add a description, and invite the world to join!</h4>
            <a href="/createRoom"><button>Create room</button></a>
        </div>
        
        <div class="randomChat">

            <h2>chat with random peoples</h2>
            <a href="/randomChat"><button>Random Chat</button></a>
            
        </div>
        
    </main>
   
    <script src="socket.io/socket.io.js"></script>

    <script>
        const socket = io()
    const container = document.querySelectorAll(".peopleOnline")   
    console.log(container[0])
    container.forEach((room)=>{
        socket.emit("HowManyUsersInRoom" , room.id)
    })

    socket.on("thisManyUsersInRoom" , (data)=>{
        container.forEach((room)=>{
            if(room.id == data.room){
                room.innerHTML = data.usersInRoom
            }
        })
        
    })
    </script>
    
</body>
</html>