<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>room</title>
    <link rel="stylesheet" href="../css/room.css">

  </head>

  <body>
    <header>
      <h2><%= room %></h2>
      <ul>
        <li>
          <img src="/photos/eye.png" alt="eye img" height="17px" />
          <div id="peopleInRoom"></div>
        </li>
        <li>exit group</li>
      </ul>
    </header>
    <main>
      <div id="notificationBar"></div>

      <div id="displayMsg"></div>
    </main>
    <footer>
      <p>+</p>
      <input
        type="text"
        id="inputMsg"
        placeholder="enter message"
        maxlength="256"
        required
      />
      <button id="btn">send</button>
    </footer>
    <script src="socket.io/socket.io.js"></script>
    <script src="../js/room.js"></script>
  </body>
</html>
