body {
    padding: 0;
    margin: 0;
    font-family: WF Visual Sans Text, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;

    --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;

  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px black ;

    padding: 0 10px 0 10px;
    height: 7vh;
    background-color: #fff;
  }

  ul {
    display: flex;
    gap: 4vw;
  }

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
  }

  header h2 {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-left: 5%;
  }

  main {
    height: 80vh;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  footer input {
    width: 69vw;
    height: 30px;
    border-radius: 10px;
  }

  footer button {
    width: 20vw;
    border-radius: 10px;
    height: 36px;
    cursor: pointer;
  }

  footer p {
    width: 7vw;
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
  }

  .disNotify {
    height: 4vh;
    border: 2px solid black;
  }

  #notificationBar {
    height: 25px;
    font-size: 16px;
    text-align: center;
  }

  #notificationBar p {
    margin: 0;
    padding: 0;
    margin-top: 3px;
  }

  #displayMsg {
    overflow-y: scroll;
    height: 78vh;
  }

  .userMsgBlock {
    border: 1px solid black;
    margin: 4px;
    padding: 5px;
    max-width: 80vw;
    width: fit-content;
    border-radius: 10px;
    min-width: 60px;
  }

  .userMsgBlockName {
    height: 20px;
    font-size: 12px;
  }

  .userMsgBlockTime {
    font-size: 10px;
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
  }

  .userMsgBlockMsg {
    overflow-wrap: break-word;
  }

  .userMsgBlockSelf {
    
    background-color: #ffffff;
  }

  .wrapperSelf {
    min-height: 84px;
    display: flex;
    justify-content: end;
  }

  .msgStatus {
    font-weight: 600;
  }
  .wrapper{
    clear: both;
  }


  /* From Uiverse.io by vinodjangid07 */ 
.messageBox {
    width: 90vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
  }
  .messageBox:focus-within {
    border: 1px solid rgb(110, 110, 110);
  }
  .fileUploadWrapper {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
  }
  
  #file {
    display: none;
  }
  .fileUploadWrapper label {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .fileUploadWrapper label svg {
    height: 18px;
  }
  .fileUploadWrapper label svg path {
    transition: all 0.3s;
  }
  .fileUploadWrapper label svg circle {
    transition: all 0.3s;
  }
  .fileUploadWrapper label:hover svg path {
    stroke: #fff;
  }
  .fileUploadWrapper label:hover svg circle {
    stroke: #fff;
    fill: #3c3c3c;
  }
  .fileUploadWrapper label:hover .tooltip {
    display: block;
    opacity: 1;
  }
  .tooltip {
    position: absolute;
    top: -40px;
    display: none;
    opacity: 0;
    color: white;
    font-size: 10px;
    text-wrap: nowrap;
    background-color: #000;
    padding: 6px 10px;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
    transition: all 0.3s;
  }
  .messageInput {
    
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    flex-grow: 1;
  }
  .messageInput:focus ~ #sendButton svg path,
  .messageInput:valid ~ #sendButton svg path {
    fill: #3c3c3c;
    stroke: white;
  }
  
  .sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  .sendButton svg {
    height: 18px;
    transition: all 0.3s;
  }
  .sendButton svg path {
    transition: all 0.3s;
  }
  .sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
  }
  